@import url("./variables.css");

* {
    font-size: 18px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--orange);
    font-size: 2em;
}

h2, h3, h4, h5, h6 {
    color: var(--green);
}

h2 {
    font-size: 1.5em;
}

a {
    color: var(--black);
    text-decoration: none;
}

strong, em {
    color: var(--orange);
}

strong a, em a {
    color: inherit;
    text-decoration: underline;
}

/*region Button */

button {
    border: 3px solid var(--green);
    border-radius: 16px;
    font-size: 1em;
    box-shadow: none;
    font-weight: bold;
    padding: 8px;
    cursor: pointer;
}

button * {
    font-size: inherit;
}

button, button:hover {
    transition: background-color 0.15s, color 0.15s;
}

button, button.outline:hover {
    color: var(--white);
    background-color: var(--green);
}

button:hover, button.outline {
    background-color: transparent;
    color: var(--green);
}

button.primary, button.primary.outline {
    color: var(--green);
    background-color: var(--orange);
}

button.primary:hover, button.primary.outline {
    background-color: transparent;
    color: var(--orange);
}

/*endregion*/

/*region Card*/

.card {
    border: 3px solid var(--green);
    border-radius: 24px;
    padding: 24px 12px;
    overflow: hidden;
    text-align: center;
}

/*endregion*/