@import url("./variables.css");

* {
    font-size: 18px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--orange);
    font-size: 2em;
}

h2, h3, h4, h5, h6 {
    color: var(--green);
}

h2 {
    font-size: 1.5em;
}

a {
    color: var(--black);
    text-decoration: none;
}

strong, em {
    color: var(--orange);
}

strong a, em a {
    color: inherit;
    text-decoration: underline;
}

.card {
    border: 3px solid var(--green);
    border-radius: 24px;
    padding: 24px 12px;
    overflow: hidden;
    text-align: center;
}
