@import url('./variables.css');

/* Menu */

.menu {
  width: 70px;
  height: 70px;
  background-color: var(--primary-lighter);
  position: fixed;
  bottom: 0;
  left: 0;
  border-radius: 0 100px 0 0;
  transition: width 200ms ease-in-out,
      height 200ms ease-in-out,
      border-radius 200ms ease-in-out;
  z-index: 2000;
}

.menu.opened {
  width: 100%;
  height: 100%;
  border-radius: 0;

  padding: 20px 20px;

  display: flex;
  flex-direction: column;
  z-index: 1999;
}

#menu-icon {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url("../images/bars-solid.svg");
  transition: background-image 200ms ease-in-out;
}

.menu #menu-icon:hover {
  transform: translate(-2px, 2px);
}

.menu.opened #menu-icon {
  background-image: url("../images/xmark-solid.svg");
}

.menu .menu-items {
 display: none;
}

.menu.opened .menu-items {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  font-size: 3em;
}

.menu-items a, .menu-items a:visited {
  text-decoration: none;
  color: var(--background);
}

.menu-items a:hover {
  color: var(--secondary);
}

@media (min-width: 768px) {
  .menu {
    top: 0;
    bottom: unset;
    right: 0;
    left: unset;
    border-radius: 0 0 0 100px;
  }

  #menu-icon {
    top: 0;
    left: unset;
    right: 0;
    bottom: unset;
  }
}

#lang-switcher {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 2000;
  padding: 8px 16px;
  font-weight: bold;
  background-color: var(--secondary);
  color: var(--primary);
  border: none;
  border-radius: 20px;
  transition: background-color 0.2s, color 0.2s;
  box-shadow: none;
  width: unset;
}

#lang-switcher:hover {
  background-color: var(--primary-lighter);
  color: var(--secondary);
  cursor: pointer;
  animation: lang-switcher-hover 100ms ease-in-out;
}

@keyframes lang-switcher-hover {
  0% {
    background-color: var(--secondary);
    color: var(--primary);
  }
  100% {
    background: transparent;
    color: var(--secondary);
  }
}