@import url("./variables.css");
@import url("./global_menu.css");

body {
  height: 100vh;
  /* fallback pour les navigateurs qui ne supportent pas dvh */
  height: 100dvh;
  /* utilise la hauteur dynamique du viewport sur mobile */
  padding: 0 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: bold;
}

h1 {
  color: var(--primary);
}

h2 {
  color: var(--secondary);
}

/* Cards */

.card-list {
  margin: 0 calc((100vw - var(--card-width)) / 2);
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Generic card style */

.card {
  margin-bottom: 20px;

  display: flex;

  border: 2px solid var(--black);
  border-radius: 8px;
  justify-content: space-between;
}

.card .card-body {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .card-title {
  font-size: 2em;
  color: var(--primary);
}

.card p {
  font-size: 1em;
  color: var(--color);
  text-decoration: none;
}

.card button {
  width: 100px;
  height: 50px;
  border-radius: 15px;
  font-size: 1.2em;
  border: none;
  background-color: var(--primary);
  color: var(--background);
  font-weight: bold;
}

.card button:hover {
  color: var(--primary);
  background-color: var(--background);
  border: 2px solid var(--primary);
  transform: translate(1px, 1px);
}

/* Specific card styles */

.card.image {
  width: var(--card-width);
  height: var(--card-image-height);

  flex-direction: column;
  gap: 24px;

  padding: 12px;
}

.card.image img {
  height: 150px;
  aspect-ratio: 16/9;

  border-radius: 8px;
}

.card.icon {
  width: var(--card-width);
  height: var(--card-icon-height);

  align-items: flex-start;
  gap: 24px;

  padding: 12px;
}

.card.icon img {
  height: 40px;
  width: 40px;
}

.card.icon .card-body {
  height: 100%;
}

.card.info {
  width: var(--card-info-width);
  height: var(--card-info-height);

  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.card.info img {
  height: 40px;
  width: 40px;
}

.card.info .card-body {
  align-items: center;
  justify-content: center;
}

.card.map {
  height: var(--card-map-height);
  width: var(--card-map-width);

  display: block;
  padding: 8px;
}

@media (min-width: 768px) {
  body {
    height: unset;
    padding: 0;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }
}

@media (min-width: 1040px) {
  .card-list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;

    margin: 0;
    padding: 0 20px 20px 20px;
  }
}

@media (min-width: 1280px) {
  body {
    width: 100vw;
  }

  header {
    margin-bottom: 25px;
  }

  .card-list {
    height: calc(100vh - 190px);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    margin: unset;
    padding: 0 10px;
    flex-direction: unset;
    align-items: unset;
  }

  .card.image,
  .card.icon,
  .card.info,
  .card.map {
    width: unset;
    height: unset;
    margin-bottom: 0;
  }

  .card.image {
    flex-direction: row;
    align-items: center;
  }

  .card.image img {
    height: 75%;
  }

  .card.image .card-body {
    height: 100%;
  }

  .card.icon {
    flex-direction: column;
    align-items: center;
  }

  .card.icon img {
    height: 50px;
    width: 50px;
  }

  .card.icon .card-body {
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }

  .card.map {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-linkedin {
    grid-area: 1 / 1 / 6 / 6;
  }

  .card-instagram {
    grid-area: 6 / 6 / 11 / 11;
  }

  .card-github {
    grid-area: 6 / 4 / 11 / 6;
  }

  .card-email {
    grid-area: 6 / 2 / 9 / 4;
  }

  .card-calendly {
    grid-area: 1 / 6 / 6 / 8;
  }

  .card-location {
    grid-area: 1 / 8 / 6 / 10;
  }
}

@media (min-width: 1440px) {
  header {
    margin-bottom: 40px;
  }

  h1 {
    margin-bottom: 10px;
  }

  .card.image img {
    height: 60%;
  }

  .card-github {
    grid-area: 6 / 4 / 10 / 6;
  }

  .card-calendly {
    grid-area: 2 / 6 / 6 / 8;
  }

  .card-location {
    grid-area: 2 / 8 / 6 / 10;
  }
}

@media (min-width: 1900px) {
  .card.image img {
    height: 100%;
  }
}