@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

:root {
  --white: #FFFFFF;
  --green: #0D4715;
  --orange: #E9762B;
  --black: #181010;

  --background: var(--white);
  --color: var(--black);
  --primary: var(--green);
  --secondary: var(--orange);

  --card-width: 320px;
  --card-info-width: 240px;
  --card-map-width: 250px;

  --card-info-height: 150px;
  --card-icon-height: 200px;
  --card-image-height: 450px;
  --card-map-height: 250px;

  --card-large-width: 600px;
  --card-large-height: 260px;

  font-size: 16px;

  font-family: "Geologica", "Roboto", sans-serif;
  font-style: normal;

  background-color: var(--background);
  color: var(--color);
}
