@import url('./variables.css');

/* Menu */

.menu {
  width: 64px;
  height: 64px;
  background-color: var(--brown1);
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 0 0 20px;
  transition: width 200ms ease-in-out,
      height 200ms ease-in-out,
      border-radius 200ms ease-in-out;

}

.menu.opened {
  width: 100%;
  height: 100%;
  border-radius: 0;

  padding: 20px 20px;

  display: flex;
  flex-direction: column;
}

#menu-icon {
  width: 64px;
  height: 64px;
  background-image: url("../resources/images/bars-solid.svg");
  transition: background-image 200ms ease-in-out,
      transform 100ms ease-in-out;
}

.menu #menu-icon:hover {
  transform: translate(-2px, 2px);
}

.menu.opened #menu-icon {
  background-image: url("../resources/images/xmark-solid.svg");
  transform: rotate(360deg);
}

.menu .menu-items {
 display: none;
}

.menu.opened .menu-items {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  font-size: 3em;
}

.menu-items a, .menu-items a:visited {
  text-decoration: none;
  color: var(--brown3)
}

.menu-items a:hover {
  text-decoration: underline;
  color: var(--brown2);
}
