@import url('./variables.css');

/* Menu */

.menu {
  width: 100px;
  height: 100px;
  background-color: var(--primary-lighter);
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 100px 0 0 0;
  transition: width 200ms ease-in-out,
      height 200ms ease-in-out,
      border-radius 200ms ease-in-out;

}

.menu.opened {
  width: 100%;
  height: 100%;
  border-radius: 0;

  padding: 20px 20px;

  display: flex;
  flex-direction: column;
  z-index: 1999;
}

#menu-icon {
  width: 64px;
  height: 64px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url("../resources/images/bars-solid.svg");
  transition: background-image 200ms ease-in-out;
}

.menu #menu-icon:hover {
  transform: translate(-2px, 2px);
}

.menu.opened #menu-icon {
  background-image: url("../resources/images/xmark-solid.svg");
}

.menu .menu-items {
 display: none;
}

.menu.opened .menu-items {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  font-size: 3em;
}

.menu-items a, .menu-items a:visited {
  text-decoration: none;
  color: var(--background);
}

.menu-items a:hover {
  color: var(--secondary);
}

@media (min-width: 768px) {
  .menu {
    top: 0;
    bottom: unset;
    border-radius: 0 0 0 100px;
  }

  #menu-icon {
    top: 0;
    bottom: unset;
  }
}