@import url("./variables.css");
@import url("./global_menu.css");

body {
  height: 100vh; /* fallback pour les navigateurs qui ne supportent pas dvh */
  height: 100dvh; /* utilise la hauteur dynamique du viewport sur mobile */
  padding: 0 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: bold;
}

/* Cards */

.card-list {
    margin: 0 calc((100vw - var(--card-width)) / 2);
    padding-bottom: 10px;
}

.card {
  width: var(--card-width);
  height: var(--card-height);

  margin-bottom: 30px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  box-shadow: 2px 2px 10px var(--green2);
  border-radius: 25px;
  padding: 15px;
}

.card-image {
  height: auto;
  max-height: calc((var(--card-height) - 30px) / 2);
  width: 100%;

  box-shadow: 1px 1px 5px var(--green2);

  border-radius: 15px;
  overflow: hidden;
}

.card-image img {
  height: 100%;
  width: 100%;
}

.card-body {
  height: 200px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-size: 2em;
}

.card-content {
  padding-left: 1em;
  border-left: 3px solid black;
}

.card-action {
  height: 50px;
}

button {
  width: 100%;
  height: 50px;
  border-radius: 15px;
  font-size: 1.2em;
  border: none;
  background-color: var(--brown2);
  box-shadow: 1px 1px 5px var(--brown2);
  color: var(--green1);
  font-weight: bold;
}

button:hover {
  color: var(--brown2);
  background-color: var(--green1);
  transform: translate(1px, 1px);
}

@media (min-width: 768px  ) {
    body {
        height: unset;
        padding: 0; 
    }

    .card-list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        
        margin: 0;
        padding: 5px calc(100vw / 2 - var(--card-width) / 2);
        gap: calc(var(--card-width) / 5);
        overflow-x: scroll;
    }

    .card {
        flex-shrink: 0;
    }
}

@media (min-width: 1200px) {
    header {
        margin-bottom: 50px;
    }

    h1 {
        margin-bottom: 20px
    }
}