@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

:root {
  --beige: #EBE1D1;
  --green-light: #41644A;
  --green: #0D4715;
  --orange: #E9762B;

  --background: var(--beige);
  --color: black;
  --primary: var(--green);
  --primary-lighter: var(--green-light);
  --secondary: var(--orange);

  --card-width: 300px;
  --card-height: 450px;

  font-size: 16px;

  font-family: "Geologica", "Roboto", sans-serif;
  font-style: normal;

  background-color: var(--background);
  color: var(--color);
}
