@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 100vh;
}

.navbar {
  height: fit-content;
  position: sticky;
  top: 0;
  left: 0;
  border: 1px solid black;
}

.navbar > .title {
  font-size: 1.5em;
  text-align: center;
  margin: 2px 0;
}

@media (min-width: 1024px) {
  #root {
    display: flex;
  }

  .navbar {
    height: 100%;
    width: fit-content;
    margin: 0 2px;
  }

  .navbar > .title {
    font-size: 0.9em;
    min-width: 150px;
  }
}